* {
    box-sizing:border-box;
    margin: 20px
  }     
 h1 {
     font-family: 'Raleway', sans-serif;
     margin: 10px 0px 10px 100px;
     font-size: 20;
 }
 
 .web {
   max-width: 500px;
   max-width: 500px;
 }
 
 img {
   max-width: inherit;
   min-width: 500px;
 }
 
 p{
     font-family: 'Raleway';
     margin: 10px 0px 10px 170px;
     font-size: 20;
     color: #f00
 }
 
